<!-- <div class="tp-home">
  <div class="row" > 
    <div class="col-100" >
      <mat-card>
        <mat-card-title class="t-center">Bienvenido al Modulo de Boletas Virtuales</mat-card-title>
        <mat-divider></mat-divider>
        <mat-card-content>
          <div class="contenido">
            <p style="text-align: center;">Hola, bienvenido al modulo de boletas digitales.</p>
            <p>En este modulo podras ver tus boletas de haberes que hayan sido subido al sistema, tenemos 2 metodos de visuzaliacion , una  para  los colaboradores y otra para los jefes.
            </p>
            <p>Las explicaciones estan en la parte inferiror:</p>
          </div>

          <a  class="down-circle">
            <i class="fas fa-chevron-down"></i>
          </a>
        </mat-card-content>
      </mat-card>

    </div>  
  </div> 

  <div class="row por-2"  >

    <div class="col-50">
      <mat-card class="tp-card"  >
        <mat-card-title class="ts-center">Para los Colaboradores:</mat-card-title>
        <mat-divider></mat-divider>
        <mat-card-content>
          <div class="contenido">
            <p>Los colaboradores podran ver en una lista general, todas sus boletas 
              ordenadas desde las ultima fecha de emision, </p>
            <p>Podran seleccionar boletas por fechas en especifico, de esta manera 
                se podra tener un barrido de las boletas que el colaborador quiera obtener.</p>
            <p>Los colaboradores podran seleccionar cuantas boletas quiera imprimir en un archivo ZIP 
              con el formato de PDF de las boletas.</p> 
            <p>Podran descargar o previsualizarlo en pdf las boletas de manera unitaria.</p>             
          </div>
          <div style="display: flex;width: 100%;align-content: center;justify-content: center;"> 
            <button mat-raised-button routerLink="/invoices/invoice-date/" style="background-color: #5BC500; color:#ffffff">Ir</button>
          </div>         
        </mat-card-content>
      </mat-card> 
    </div>

    <div class="col-50" id="secciones">
      <mat-card  class="tp-card" >
        <mat-card-title class="ts-center">Para administradores:</mat-card-title>
        <mat-divider></mat-divider>
        <mat-card-content>
          <div class="contenido">
            <p>Los administradores podran ver a los colaboradores, tanto asi como buscarlos por sus DNI/CEX , CIP o Nonbres y apellidos.</p>
            <p>Una vez encontrado el colaborador, podran ver el listado de boletas del colaborador ordenadas desde las ultima fecha de emision</p>
            <p>Tambien pueden seleccionar boletas por fechas en especifico, de esta manera se podra tener un barrido de las boletas que el colaborador quiera obtener.</p>
            <p>Podra seleccionar cuantas boletas quiera imprimir en un archivo ZIP con el formato de PDF de las boletas.</p>
            <p>Podran descargar o previsualizarlo en pdf las boletas de manera unitaria.</p> 
          </div>
          <div style="display: flex;width: 100%;align-content: center;justify-content: center;"> 
            <button mat-raised-button routerLink="/invoices/search-invoice/" style="background-color: #5BC500; color:#ffffff">Ir</button>
          </div>   
        </mat-card-content>
        
      
      </mat-card> 
    </div>

  </div>
</div>  -->