<div class="row" style="background-color: #D3D4D3;width: 90%;margin-left: auto;margin-right: auto;padding: 5px;">
  <div class="input-group" style="margin-top: auto;margin-bottom: auto;display: flex;justify-content: center;" >
      <img src="../../../../../assets/images/media/logos/logo-movistar.png" width="50px" alt="">
      <h3 class="text-center p-1">Registro de la persona de riesgo con la que vives</h3>
      <svg (click)="onNoClick()" width="2em" height="3em" viewBox="0 0 16 16" class="bi bi-x-square close-icon" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
          <path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z"/>
          <path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z"/>
        </svg>
  </div>

  </div>
  <hr>
<div [formGroup]="relationGroup">
  <section id="sect-1">
    <div class="row">
        <div class="col-md-8">
            <label class="label-format"><b>Nombre completo</b> :</label>
            <!-- <input type="text" name="txt_fullname" formControlName="name" class="form-control" placeholder="Nombre completo..."> -->
            <tdp-st-input-text formControlName="name"  placeholder="Nombre completo..."></tdp-st-input-text>
        </div>
        <div class="col-md-4">
            <label class="label-format"><b>Parentesco</b> :</label>
            <tdp-st-select [listitems]="arrayCoronaRelationship" type="outline"></tdp-st-select>
            <!-- <mat-select [(ngModel)]="txt_relationship" [ngModelOptions]="{standalone: true}"
                                class="form-control" (selectionChange)="show_other_relationship()">
                                <mat-option>None</mat-option>
                                <mat-option *ngFor="let value of array_corona_relationship" [value]="value.id">{{value.name}}
                                </mat-option>
                            </mat-select> -->
        </div>
    </div>
    
    <div *ngIf="txt_condition_relationship" class="row">
        <div class="col-md-12">
            <label class="label-format">Especifica el tipo de Parentesco :</label>
            <input type="text" name="txt_otherRelationship" [(ngModel)]="txt_otherRelationship" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Nombre completo...">
        </div>
    </div>
  </section>
  <section id="sect-2">
    <hr>
    <label class="label-format"><b>Selecciona una o más condiciones :</b></label>
  <div class="row">
    
  <div class="col-md-6">
    
    <div>
      <tdp-st-checkbox formControlName="chk1" [style.background-color]="background_color"
      value="1" color="info" label="Mayor a 60 años."></tdp-st-checkbox><br> 
      <!-- <input type="checkbox" name="chk" [(ngModel)]="txt_chk_1"
        [ngModelOptions]="{standalone: true}" [value]="1">
       <label  for="exampleCheck1">Mayor a 60 años
       </label><br> -->
     </div>
  </div>
  <div class="col-md-6">
    <div>
      <tdp-st-checkbox formControlName="chk2" [style.background-color]="background_color"
      value="1" color="info" label="Enfermedad crónica."></tdp-st-checkbox><br> 
        <!-- <input type="checkbox" name="chk" [(ngModel)]="txt_chk_2"
        [ngModelOptions]="{standalone: true}" [value]="1">
       <label  for="exampleCheck1">Enfermedad crónica
       </label><br> -->
     </div>
  </div>
  </div>
  <div class="row">
    <div class="col-md-6">
        <div>
          <tdp-st-checkbox formControlName="chk3" [style.background-color]="background_color"
          value="1" color="info" label="Embarazo."></tdp-st-checkbox><br> 
          <!--   <input type="checkbox" name="chk" [(ngModel)]="txt_chk_3"
            [ngModelOptions]="{standalone: true}" [value]="1">
           <label  for="exampleCheck1">Embarazo
           </label><br> -->
         </div>
    </div>
    <div class="col-md-6">
        <div>
          <tdp-st-checkbox formControlName="chk4" [style.background-color]="background_color"
          value="1" color="info" label="Expuesto: Hospital, Policia , Militar."></tdp-st-checkbox><br> 
          <!--   <input type="checkbox" name="chk" [(ngModel)]="txt_chk_4"
            [ngModelOptions]="{standalone: true}" [value]="1">
           <label  for="exampleCheck1">Expuesto: Hospital, Policia , Militar.
           </label><br> -->
         </div>
    </div>
    </div>
  </section>
  <section id="sect-3">
    <hr>
  <div class="row">
    <div class="col-md-12">
        <label class="label-format"><b>Coloca tus observaciones o comentarios</b></label>
        <tdp-st-textarea  class="txt-area" formControlName="comment"
        placeholder="Padras utilizar esta seccion para : indicar alguna enfermedad crónica,
        sugerencia, direcciones entre otras cosas.">
        </tdp-st-textarea>
        <!-- <textarea class="txt-area" name="txt_coment" [(ngModel)]="txt_comment"
        [ngModelOptions]="{standalone: true}" placeholder="Padras utilizar esta seccion para : indicar alguna enfermedad crónica,
        sugerencia, direcciones entre otras cosas.">
  
        </textarea> -->
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-6 offset-md-3">
        <button class="btn btn-block btn_add" (click)="addFamily()">Agregar</button>
    </div>
  </div>
  </section>
  
</div>