


<div *ngIf="txt_condition_status" class="row">
               class="row" style="background-color: #D3D4D3;width: 90%;margin-left: auto;margin-right: auto;padding: 5px;">
    <div class="input-group" style="margin-top: auto;margin-bottom: auto;display: flex;justify-content: center;" >
        <img src="../../../../../assets/images/media/logos/logo-movistar.png" width="50px" alt="">
        <h3 class="text-center p-1">Aviso del sistema</h3>
        <svg (click)="onNoClick()" width="2em" height="3em" viewBox="0 0 16 16" class="bi bi-x-square close-icon" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
            <path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z"/>
            <path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z"/>
          </svg>
    </div>

    </div>
<mat-card class="container_coronavirus">
    <h2 class="text-center" style="color: white;background-color: #00a9e0;padding: 5px;">Registro de Estado</h2>
    <hr>
    <div class="row">
        <!-- <div class="col-md-3">
                <label for="cip_emp">Cip :</label>
                <input style="margin-left: 5px;" type="text" name="cip" id="cip_emp" class="form-control text-center"
                    value="{{txt_cip_emp}}" disabled="disabled">
            </div> -->
        <div class="col-md-12" syle="padding-bottom:10px">
            <label for="name_emp">Empleado :</label>
            <input style="margin-left: 5px;" type="text" name="name_emp" id="name_emp" class="form-control text-center"
                value="{{txt_employee_name}}" disabled="disabled">

        </div>
    </div>

    <hr>
    <div [formGroup]="coronavirusForm" id="form_coronavirus" class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div *ngIf="!txt_condition_general" class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                    <div class="form-group">
                        <div class="form-group">
                            
                            <!-- <mat-select [disabled]="txt_condition_general" [style.background-color]="background_color"
                                formControlName="laboralCondition" class="form-control">
                                <mat-option>None</mat-option>
                                <mat-option *ngFor="let value of array_corona_status" [value]="value.id">
                                    {{value.name}}</mat-option>
                            </mat-select> -->
                            <label>Situacion laboral :</label>
                            <tdp-st-select [listitems]="arrayCoronaStatus" formControlName="laboralCondition"
                            [style.background-color]="background_color"
                            type="outline"></tdp-st-select>
                        </div>

                    </div>
                </div>
                <div *ngIf="!txt_condition_general" class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                    <div class="form-group">
                        <label>Fecha de situacion laboral

                            :</label>
                        <div class="form-inline">
                            <input class="text-center form-control col-xs-12 col-sm-12 col-md-12 col-lg-10"
                                [matDatepicker]="picker"  name="fecha1"
                                formControlName="date1" placeholder="YYYY-MM-DD" [disabled]="txt_condition_general">
                            <mat-datepicker-toggle class="col-xs-12 col-sm-12 col-md-12 col-lg-2 btn-datepicker" matSuffix
                                [for]="picker">
                            </mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="!txt_condition_general" class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                    <div class="form-group">
                        <label>Tipo de presencia :</label>
                        <tdp-st-select [listitems]="arrayCoronaType" formControlName="laboralType"
                        [style.background-color]="background_color" [disabled]="txt_condition_general" >
                        </tdp-st-select>
                        <!-- <mat-select [disabled]="txt_condition_general" [style.background-color]="background_color"
                            formControlName="laboralType" class="form-control">
                            <mat-option>None</mat-option>
                            <mat-option *ngFor="let value of array_corona_type" [value]="value.id">{{value.name}}
                            </mat-option>
                        </mat-select> -->

                    </div>
                </div>
                <div *ngIf="!txt_condition_general" class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                    <div class="form-group">
                        <label>Fecha de tipo de presencia

                            :</label>
                        <div class="form-inline">
                            <input class="text-center form-control col-xs-12 col-sm-12 col-md-12 col-lg-10"
                                [matDatepicker]="picker2" name="fecha2"
                                formControlName="date2" placeholder="YYYY-MM-DD" [disabled]="txt_condition_general">
                            <mat-datepicker-toggle class="col-xs-12 col-sm-12 col-md-12 col-lg-2 btn-datepicker" matSuffix
                                [for]="picker2">
                            </mat-datepicker-toggle>
                            <mat-datepicker #picker2></mat-datepicker>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row" *ngIf="txt_condition_general">
                <div class="col-md-12">
                    <div class="form-group">

                        <label>Estado de salud:</label>
                        <tdp-st-select formControlName="laboralHealtStatus" [listitems]="arrayCoronaReason">
                        </tdp-st-select>
                        <!-- <mat-select formControlName="laboralHealtStatus"
                            class="form-control">
                            <mat-option>None</mat-option>
                            <mat-option *ngFor="let value of array_corona_reason" [value]="value.id">{{value.name}}
                            </mat-option>
                        </mat-select> -->

                    </div>
                </div>
                
            </div>

            <!--add disabled buttom-->
            <div class="row" *ngIf="!txt_condition_general">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-8">
                    <div class="form-group">

                        <label>Estado de salud:</label>

                        <tdp-st-select formControlName="laboralHealtStatus" [listitems]="arrayCoronaReason">
                        </tdp-st-select>

                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
                    <div class="form-group">

                        <label>Deshabilitar pase de ingreso:</label>
                        <button class="btn btn-block bg-danger text-light" (click)="removeAccess()">Aceptar</button>
                    </div>
                </div>
            </div>
            <!--...................-->
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Telefóno de contacto
                            :</label>
                        <tdp-st-input-text class="text-center" color="info" styleinput="outline" formControlName="phone"
                         placeholder="##########" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)">
                        </tdp-st-input-text>
                        <!-- <input type="text" formControlName="phone"
                            class="form-control text-center" name="txt_telf_contact" placeholder="##########"
                            onkeypress="return (event.charCode >= 48 && event.charCode <= 57)"> -->
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Dirección en caso de emergencia
                            :</label>
                        <tdp-st-input-text class="text-center" color="info" styleinput="outline" formControlName="address"
                        placeholder="Av ejemplo 123..">
                        </tdp-st-input-text>
                        <!-- <input type="text" formControlName="address"
                            class="form-control text-center" name="txt_address" placeholder="Av ejemplo 123.."> -->
                    </div>
                </div>
            </div>
            <div class="row">
               
                    <label><b>Enfermedades crónicas(Seleccione todas las opciones que te apliquen)
                    </b>:</label>
                <div class="col-100">
                    <fieldset style="border:  1px solid #00a9e0;padding: 5px;border-radius: 5px;">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-check">
                                    <fieldset>

                                        <!---->

                                        <div [style.background-color]="background_color">
                                            <tdp-st-checkbox  formControlName="chk2" [style.background-color]="background_color"
                                             value="1" color="info" label="Trabajadores nacidos hasta 1960" style="color: #00a9e0;"></tdp-st-checkbox>
                                            <!-- <input [disabled]="txt_condition_general"
                                                [style.background-color]="background_color" type="checkbox" name="chk"
                                                formControlName="chk2"
                                                [value]="3">
                                            <label for="exampleCheck1"><b>Trabajadores nacidos hasta 1960</b>
                                            </label><br> -->
                                        </div>

                                        <!---->
                                        <tdp-st-checkbox *ngIf="txt_sex_employee=='F'" label="Mujeres en estado de
                                        gestacion" formControlName="chk0" color="info" value="1"></tdp-st-checkbox><br>
                                        <!-- <input *ngIf="txt_sex_employee=='F'" type="checkbox" name="chk"
                                        formControlName="chk0" [value]="1"
                                            style="cursor:pointer">
                                        <label *ngIf="txt_sex_employee=='F'" for="exampleCheck1"><b>Mujeres en estado de
                                            gestacion</b></label><br> -->
                                        <!---->
                                        <!-- <input type="checkbox" name="chk" [(ngModel)]="txt_chk_1"
                                                [ngModelOptions]="{standalone: true}" [value]="2"  style="cursor:pointer"> -->
                                        <div>
                                            <label class="flaticon2-add-square label-standard"></label>
                                            <label 
                                                style="padding-left: 10px;padding-right: 20px;"> <b>Enfermedad
                                                    crónica</b><br />( Selecciona todas las opciones que te apliquen ) :
                                            </label>

                                            
                                            <section id="container_chk_1"
                                                style="width: 100%;position: relative;top: 10px;margin-left: 3px;">

                                                <div class="row">
                                                    <div class="col-sm-12 col-xs-12 col-md-12">
                                                        <div style="width: 100%;margin-right:10px; "
                                                            class="form-inline">
                                                                <!-- <mat-label class="font-style-mat-select text-center">Seleccionar
                                                                                </mat-label> -->
                                                                                <mat-form-field appearance="outline" class="mat-form-style" >
                                                                <mat-select [disabled]="condition_legal_entity && level_access==1" formControlName="codeSelect"
                                                                    [(ngModel)]="select" multiple>
                                                                    <mat-option (onSelectionChange)="getValues($event)"
                                                                        class="font-style-mat-select"
                                                                        *ngFor="let codeSelect of arrayCoronaNotGroup"
                                                                        [value]="codeSelect.value">
                                                                        {{codeSelect.label}}
                                                                    </mat-option>
                                                                    <mat-optgroup
                                                                        *ngFor="let group of arrayCoronaGroupLabel;let i = index"
                                                                        [label]="textValidate(group.label)"
                                                                        [disabled]="group.disabled">
                                                                        <mat-option
                                                                            (onSelectionChange)="getValues($event)"
                                                                            class="font-style-mat-select"
                                                                            *ngFor="let codeSelect of arrayCoronaGroup[i]"
                                                                            >
                                                                            {{codeSelect.label}}
                                                                        </mat-option>
                                                                    </mat-optgroup>
                                                                </mat-select>
                                                            </mat-form-field>

                                                        </div>

                                                    </div>

                                                </div>

                                            </section>
                                        </div>
                                        <div class="row" >
                                            <!-- input type text group Enfermedades cardiovasculares -->
                                            <div *ngIf="condition_Enfermedades_cardiovasculares" class="col-md-12">
                                                <label><b>Otro tipo de Enfermedades cardiovasculares :</b></label>
                                                <tdp-st-input-text formControlName="cardiovasculares" placeholder="Ingresar otro tipo de enfermedad"
                                                styleinput="outline"></tdp-st-input-text>
                                                <!-- <input type="text" [disabled]="condition_legal_entity  && level_access==1" style="width: 100%;"
                                                    formControlName="cardiovasculares"
                                                    class="form-control"
                                                    placeholder="Ingresar otro tipo de enfermedad"
                                                    name="txt_other_cardio"> -->
                                            </div>
                                            <!-- input type text group Enfermedades pulmonares cronicas-->
                                            <div *ngIf="condition_Enfermedades_pulmonares" class="col-md-12">
                                                <label><b>Otro tipo de Enfermedades pulmonares cronicas :</b></label>
                                                <tdp-st-input-text formControlName="pulmonare" placeholder="Ingresar otro tipo de enfermedad"
                                                styleinput="outline" [disabled]="condition_legal_entity  && level_access==1"></tdp-st-input-text>
                                                <!-- <input type="text" [disabled]="condition_legal_entity  && level_access==1" style="width: 100%;"
                                                formControlName="pulmonare"
                                                class="form-control"
                                                placeholder="Ingresar otro tipo de enfermedad"
                                                name="txt_other_pulm"> -->
                                            </div>
                                            <!-- input type text group Enfermedades de inmunosupresion-->
                                            <div *ngIf="condition_Enfermedades_inmunosupresion" class="col-md-12">
                                                <label><b>Otro tipo de Enfermedades de inmunosupresion :</b></label>
                                                <tdp-st-input-text formControlName="inmunosupresion" placeholder="Ingresar otro tipo de enfermedad"
                                                styleinput="outline" [disabled]="condition_legal_entity  && level_access==1"></tdp-st-input-text>

                                                <!-- <input type="text"  [disabled]="condition_legal_entity  && level_access==1"  style="width: 100%;"
                                                    formControlName="inmunosupresion"
                                                    class="form-control"
                                                    placeholder="Ingresar otro tipo de enfermedad"
                                                    name="txt_other_inmu"> -->
                                            </div>
                                        </div><br>
                                        <div  class="form-inline">

                                            <section class="container_checkbox1" id="container_chk_1">

                                                <div  class="row">
                                                            <div class="col-xs-12 col-sm-12 col-md-4">
                                                                <p
                                                                    class="font-style flaticon2-medical-records label-obs">
                                                                    Adjuntar documento :</p>
                                                            </div>
                                                            <div class="col-xs-12 col-sm-12 col-md-4">
                                                                <tdp-st-input-text [style.background-color]="background_color"
                                                                formControlName="filenameazure"
                                                                placeholder="Ingresar otro tipo de enfermedad"
                                                                styleinput="outline" 
                                                                [disabled]="condition_legal_entity  && level_access==1"
                                                                disabled="true" style="border: 2px solid #00a9e0;background-color: #00a9e0;color: #ffffff;"></tdp-st-input-text>

                                                                <!-- <input type="text"
                                                                    name="txt_filename" class="form-control"
                                                                    style="width: 100%;"
                                                                    [style.background-color]="background_color"
                                                                    formControlName="filenameazure"
                                                                    readonly> -->
                                                            </div>
                                                            <div class="col-xs-12 col-sm-12 col-md-2" [hidden]="condition_legal_entity  && level_access==1">
                                                                 <button for="btn-file"
                                                                    class="btn btn-block btn_savedatacondition">Examinar</button>
                                                                <input  [disabled]="condition_legal_entity  && level_access==1"  type="file" id="btn-file" name="btnfileCondition"
                                                                    (change)="uploadFileHome($event)" #btnfileCondition>
                                                            </div>
                                                            <div class="col-xs-12 col-sm-12 col-md-2"><i 
                                                                    (click)="getFileAttach()" style="width: 100%;"
                                                                    class="fas fa-download btn-download"></i></div>
                                                </div>
                                                <hr>
                                                <div class="row bg-danger" style="overflow: auto;">
                                                <div class="col-md-12 col-lg-12" style="padding:10px;color:white;background-color: #00a9e0;">
                                                <p>Si tienes alguna consulta,duda o deseas realizar alguna modificación de las enfermedades crónicas reportadas comunícate con Carlos Ramirez al correo carlos.ramirezla@telefonica.com</p>
                                                </div>
                                                </div>
                                            </section>
                                        </div>
                                        <div *ngIf="false" [style.background-color]="background_color">
                                            <tdp-st-checkbox  [disabled]="txt_condition_general"
                                            label="Otro tipo de factor de riesgo" formControlName="chk11"
                                             color="info" value="1"></tdp-st-checkbox><br>
                                            <!-- <input [disabled]="txt_condition_general"
                                                [style.background-color]="background_color" type="checkbox" name="chk"
                                                formControlName="chk11"
                                                [value]="3">
                                            <label for="exampleCheck1"><b>Otro tipo de factor de riesgo</b>
                                            </label><br> -->
                                        </div>
                                        <div *ngIf="false" [style.background-color]="background_color">
                                            <tdp-st-checkbox  [disabled]="txt_condition_general"
                                            label="Al cuidado de un familiar" formControlName="chk12"
                                             color="info" value="1"></tdp-st-checkbox><br>
                                            <!-- <input [disabled]="txt_condition_general"
                                                [style.background-color]="background_color" type="checkbox" name="chk"
                                                formControlName="chk12"
                                                [value]="3">
                                            <label for="exampleCheck1"><b>Al cuidado de un familiar</b>
                                            </label><br> -->
                                        </div>
                                    </fieldset>

                                    <fieldset *ngIf="!txt_condition_general" style="border: 1px groove #00a9e0;">
                                        <legend>Otros :</legend>
                                        <tdp-st-checkbox  [disabled]="txt_condition_general"
                                        label="Personal con licencia Sindical" formControlName="chk3"
                                        color="info" value="1"></tdp-st-checkbox><br>
                                        <!-- <input type="checkbox" name="chk" formControlName="chk3" [value]="4" style="cursor:pointer">
                                        <label for="exampleCheck1"><b>Personal con licencia Sindical</b>
                                        </label><br> -->
                                        <tdp-st-checkbox  [disabled]="txt_condition_general"
                                        label="Personal con Licencia por periodo de Lactancia" formControlName="chk4"
                                        color="info" value="1"></tdp-st-checkbox><br>
                                        <!-- <input type="checkbox" name="chk" formControlName="chk4" [value]="5" style="cursor:pointer">
                                        <label for="exampleCheck1"><b>Personal con Licencia por periodo de Lactancia</b>
                                        </label><br> -->
                                        <tdp-st-checkbox  [disabled]="txt_condition_general"
                                        label="Personal Licencia Médica" formControlName="chk5"
                                        color="info" value="1"></tdp-st-checkbox><br>

                                        <!-- <input type="checkbox" name="chk" formControlName="chk5" [value]="6" style="cursor:pointer">
                                        <label for="exampleCheck1"><b>Personal Licencia Médica</b>
                                        </label><br> -->

                                        <tdp-st-checkbox  [disabled]="txt_condition_general"
                                        label="Otras Licencias" formControlName="chk6"
                                        color="info" value="1"></tdp-st-checkbox><br>
                                        <!-- <input type="checkbox" name="chk" formControlName="chk6" [value]="7" style="cursor:pointer">
                                        <label for="exampleCheck1"><b>Otras Licencias</b>
                                        </label><br> -->

                                        <tdp-st-checkbox  [disabled]="txt_condition_general"
                                        label="Nuevos requerimientos Personas que necesita
                                        CITRIX/VPN
                                        para sumarse al trabajar remoto" formControlName="chk7"
                                        color="info" value="1"></tdp-st-checkbox><br>

                                        <!-- <input type="checkbox" name="chk" formControlName="chk7" [value]="8" style="cursor:pointer">
                                        <label for="exampleCheck1"><b>Nuevos requerimientos Personas que necesita
                                            CITRIX/VPN
                                            para sumarse al trabajar remoto</b>
                                        </label><br> -->

                                        <tdp-st-checkbox  [disabled]="txt_condition_general"
                                        label="Contacto con persona con resultado positivo" formControlName="chk9"
                                        color="info" value="1"></tdp-st-checkbox><br>

                                        <!-- <input type="checkbox" name="chk" formControlName="chk9" [value]="10" style="cursor:pointer">
                                        <label for="exampleCheck1"><b>Contacto con persona con resultado positivo</b>
                                        </label> -->

                                        <div class="row">
                                            <div class="col-md-5">
                                                <tdp-st-checkbox  [disabled]="txt_condition_general"
                                                label="Personal sin retorno al país" formControlName="chk8"
                                                color="info" value="1"></tdp-st-checkbox><br>

                                                <!-- <input type="checkbox" name="chk" formControlName="chk8" [value]="9"
                                                    style="cursor:pointer">
                                                <label for="exampleCheck1"><b>Personal sin retorno al país</b>
                                                </label> -->
                                            </div>
                                            <div *ngIf="txt_chk_8==true" class="col-md-7">
                                                <tdp-st-select [listitems]="arrayCoronaCountry" formControlName="country"></tdp-st-select>
                                                <!-- <mat-select formControlName="country" class="form-control">
                                                    <mat-option>None</mat-option>
                                                    <mat-option *ngFor="let value of array_corona_country"
                                                        [value]="value.id">
                                                        {{value.name}}</mat-option>
                                                </mat-select> -->
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <br><br>
                <label style="margin-top: 15px;"><b>
                 ¡En Movistar velamos por tu salud y de los que más quieres!. Ayúdanos a responder las siguientes preguntas:
                
                </b></label>
                <div class="col-100" style="padding: 0px;">
                    <fieldset style="border:  1px solid #00a9e0;padding: 5px;border-radius: 5px;">
                        <div class="row" style="margin: 0px;">
                            <div class="col-md-12">
                                
                                    <!--Medio de transporte-->
                                        <br>
                                        <div class="form-group">
                                            <label><b># Selecciona el medio de transporte para ir a tu lugar de trabajo :</b></label>
                                            <tdp-st-select [listitems]="arrayCoronaTransport" formControlName="transport"></tdp-st-select>
                                            <!-- <mat-select formControlName="transport"
                                                class="form-control"
                                                style="width: 100%;border:1px solid green;padding:5;">
                                                <mat-option
                                                    *ngFor="let value of array_corona_transport"
                                                    [value]="value.id">{{value.name}}
                                                </mat-option>
                                            </mat-select> -->
                                        </div>
                                    
                                    <!---->
                               
                            </div>
                        </div>
                        <hr>
                        <div style="width: 95%;margin-left: auto;margin-right: auto;">
                            <label><b># Indícanos tu IMC : [ IMC = PESO / TALLA² ]</b></label>
                            
                            <p>Ingrese su peso y talla :</p>
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <!-- <tdp-st-input-text
                                            formControlName="weight"
                                            placeholder="Colocar el peso en Kg"
                                            styleinput="outline" 
                                            (tdpOnChange)="caculate_imc()"
                                            onkeypress="return (event.charCode >= 48 && event.charCode <= 57)"
                                            >
                                            
                                            </tdp-st-input-text> -->
                                            <input type="text"  class="form-control"
                                            ngDefaultControl 
                                            (change)="caculate_imc()" formControlName="weight"
                                            
                                            placeholder="Colocar el peso en Kg"
                                            onkeypress="return (event.charCode >= 48 && event.charCode <= 57)">
                                            <p style="margin-left: 5px;margin-top: 7px;"><b>Kg</b></p>
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                    <div class="form-group">
                                    <div class="input-group">   
                                        <!-- <tdp-st-input-text
                                        formControlName="height"
                                        placeholder="Colocar su altura en cm"
                                        styleinput="outline" 
                                        (tdpOnChange)="caculate_imc()"
                                        onkeypress="return (event.charCode >= 48 && event.charCode <= 57)"
                                        >
                                        
                                        </tdp-st-input-text>  --> 
                                        <input type="text"  class="form-control"
                                        ngDefaultControl 
                                        (change)="caculate_imc()" formControlName="height"
                                        
                                        placeholder="Colocar su altura en cm"
                                        onkeypress="return (event.charCode >= 48 && event.charCode <= 57)">
                                        <p style="margin-left: 5px;margin-top: 7px;"><b>Cm</b></p>
                                    </div>
                                    </div>
                                
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                    <div class="form-group">
                                    <div class="input-group">
                                        <!-- <tdp-st-input-text
                                        formControlName="imc"
                                        placeholder="0"
                                        styleinput="outline" 
                                        (tdpOnChange)="caculate_imc()"
                                        onkeypress="return (event.charCode >= 48 && event.charCode <= 57)"
                                        >
                                        </tdp-st-input-text>  --> 
                                    <input type="text"  class="form-control"
                                    (change)="caculate_imc()" formControlName="imc">   
                                    <p style="margin-left: 5px;margin-top: 7px;"><b>IMC</b></p>
                                    </div>
                                    </div>
                                </div>
                            </div>
                            <!-- <p *ngIf="coronaReactive.weight.value>=100&&coronaReactive.weight.value<=250?false:true">La altura ingresada es incorrecta. No podra calcular si imc, ya que el rango de valores aceptados se encuentra entre 100cm y 250cm. </p>
                            <p *ngIf="coronaReactive.height.value>=0&&coronaReactive.height.value<=250?false:true">El peso ingresado es incorrecta. No podra calcular si imc, ya que el maximo peso aceptado es 250kg. </p>
                         -->
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-12">
                                <!--Pop up Familiares-->
                                <div>
                                    <div class="form-inline">
                                        
                                        <label for="exampleCheck1"><b># ¿Vives con alguien de o con exposición
                                            de Riesgo?</b>
                                        </label><br>
                                        <fieldset>
                                            <tdp-st-radio-group formControlName="chk10"  (tdpOnClick)="showModalRelationship(1)">
                                                <tdp-st-radio color="info" label="Sí" value="1">
                                                    
                                                </tdp-st-radio>
                                                <tdp-st-radio color="info" label="No" value="0">
                                                    
                                                </tdp-st-radio>
                                            </tdp-st-radio-group>
                                            <!-- <mat-radio-group formControlName="chk10">
                                                    <mat-radio-button  [value]="1">
                                                    Sí
                                                    </mat-radio-button>
                                                    <mat-radio-button  [value]="0">
                                                    No
                                                    </mat-radio-button>
                                                    </mat-radio-group> -->
                                                   
                                            
                                        </fieldset>
                                        <button *ngIf="txt_chk_10==1?true:false" class="btn btn_showRelataionship"
                                            (tdpOnClick)="showModalRelationship('2')"
                                            style="margin-left: 10px;">Agregar otra persona</button>
                                    </div>
                                    <!--Table : Show family-->
                                    <section id="sect-4" class="table-responsive" 
                                    *ngIf="txt_chk_10==1">
                                        <hr>
                                        <table class="table table-hover">
                                            <thead class="header-table">
                                                <tr>
                                                    <th>Nombre completo </th>
                                                    <th>Parentesco</th>
                                                    <th>Condiciones</th>
                                                    <th>..</th>
                                                </tr>
                                            </thead>
                                            <tbody *ngFor="let value of array_corona_relationship_value"
                                                style="text-align: center;">
                                                <td>{{value.name}}</td>
                                                <td>{{value.id_relationship!=7?value.name_relationship:value.other_relationship}}
                                                </td>
                                                <td>
                                                    <div class="form-inline">
                                                        <p
                                                            *ngIf="value.id_family_condition_1==1?true:false">
                                                            Mayor a 60 años.</p>
                                                        <p
                                                            *ngIf="value.id_family_condition_1==1?true:false">
                                                            ,</p>
                                                        <p
                                                            *ngIf="value.id_family_condition_2==1?true:false">
                                                            Enfermedad crónica.</p>
                                                        <p
                                                            *ngIf="value.id_family_condition_2==1?true:false">
                                                            ,</p>
                                                        <p
                                                            *ngIf="value.id_family_condition_3==1?true:false">
                                                            Embarazo.</p>
                                                        <p
                                                            *ngIf="value.id_family_condition_3==1?true:false">
                                                            ,</p>
                                                        <p
                                                            *ngIf="value.id_family_condition_4==1?true:false">
                                                            Expuesto: Hospital, Policia , Militar.</p>
                                                    </div>
                                                </td>
                                                <td><i class="flaticon-cancel remove-item"
                                                        (click)="removeById(value.id)"></i></td>
                                            </tbody>
                                        </table>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
            <br>


            <!-- <div class="row">
                <div class="col-100">
                    <div class="form-group">
                        <label>Correo de contacto
                            :</label>
                        <input type="text" [(ngModel)]="txt_mail" [ngModelOptions]="{standalone: true}"
                            class="form-control text-center" name="txt_telf_contact" placeholder="######@telefonica.com">
    
                    </div>
                </div>
            </div> -->

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Comentario:</label>
                        <tdp-st-textarea  class="txt-area" formControlName="comment"
                        placeholder="Por ejemplo : Tengo sintomas como resfrio,fiebre, etc."
                        >
                        </tdp-st-textarea>
                        <!-- <textarea formControlName="comment" class="txt-area"
                            matInput placeholder="Por ejemplo : Tengo sintomas como resfrio,fiebre, etc."></textarea> -->
                    </div>
                </div>
            </div>

            <!-- <div *ngIf="txt_condition_status" class="row">
                <div class="col-100">
                    <div class="form-group">
                        <label>Comentario:</label><br>
                        <textarea formControlName="comment" class="txt-area"
                            matInput placeholder="Por ejemplo: Tengo sintomas como resfrio,fiebre, etc."></textarea>
                    </div>
                </div>

            </div> -->
            <div class="row">
                <div class="col-md-12" style="color: #954B97;padding: 5px;text-transform: uppercase;">
                    Toda información que sea declarada y registrada a través de este portal web será empleada por la
                    empresa con estricta reserva y dentro de las obligaciones de confidencialidad que impone la Ley de
                    Protección de Datos Personales (Ley No. 29733), su reglamento y demás normas de desarrollo.
                </div>
            </div>
            <br>
            <div class="row" *ngIf="txt_condition_general">
                <div class="col-xs-12 col-sm-12 col-md-6 offset-md-3">
                    <button class="btn btn-block btn-primary" (click)="save_post_validate()"
                        style="background-color: #5BC500;color: #ffffff;">Enviar</button>
                </div>
            </div>
            <div class="row" *ngIf="!txt_condition_general">
                <div class="col-xs-12 col-sm-12 col-md-6">
                    <button class="btn btn-block" (click)="save_post_validate()"
                        style="background-color: #5BC500;color: #ffffff;">Enviar</button>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6">
                    <button class="btn btn-block" (click)="onNoClick()"
                        style="background-color: #954B97;color: #ffffff;">Salir</button>
                </div>
            </div>

        </div>
    </div>
</mat-card>

