$color-verde: #5bc500;
$color-celeste: #00a9e0;
$color-celeste-oscuro: #0099cc;
$color-celeste-oscuro-2: #007ea8;
$color-morado: #954B97;
$color-rojo: #E9426D;
$color-naranja: #EC6839;
$color-naranja-2: #F59C00;

$color-base-1: #E9EAE8;
$color-base-2: #D3D4D3;
$color-base-3: #B6B7B7;
$color-gris: #86888C;
$color-gris-oscuro: #50535A;